{{block "homepage" .}}
<html>
  {{template "head"}}
<body>
  <!-- Navbar: -->
  {{template "navbar" .}}
  <!-- Header and footer card: -->
  <div class="card text-center">
    <!-- Header: -->
    <div class="card-header">
      Eyes Spies
    </div>
    <!-- Body: -->
    <div class="card-body">
      <img src="assets/logoCopy.png" class="img-fluid">
      <div class="card-body">
        <a target="_blank" href="https://github.com/gorbe2002/eyes-spies" class="btn btn-primary" style="margin-bottom: 2%;">Download here</a>
        <h3 class="card-title">Tools</h3>
        <p class="card-text">The following are useful tools to use in the command line:</p>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              help
            </div>
            <div class="col">
              wttr
            </div>
            <div class="col">
              dance
            </div>
            <div class="col">
              logo
            </div>
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              text
            </div>
            <div class="col">
              ns
            </div>
            <div class="col">
              ip
            </div>
            <div class="col">
              os
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer: -->
    {{template "footer"}}
  </div>
</body>
{{end}}
