{{block "tools" .}}
<html>
{{template "head"}}
<body>
  <!-- Navbar: -->
  {{template "navbar" .}}
  <!-- Header and Footer Template: -->
  <div class="card text-center">
    <!-- Header: -->
    <div class="card-header">
      Tools
    </div>
    <!-- Body: -->
    <div class="card-body">
      <div class="container text-center">
        <div class="row row-cols-4">
          <!-- Card 1: -->
          <div class="col">
            <div class="card" style="width: 18rem; margin-bottom: 5%;">
              <div class="card-body">
              <h5 class="card-title">Weather</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">wttr</h6>
              <p class="card-text">This command shows you the weather forecast for the next couple of days.</p>
              </div>
            </div>
          </div>
          <!-- Card 2: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Dance</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">dance</h6>
                <p class="card-text">This command shows a video of Ice Spice's most famous video, "Munch (Feelin' U)."</p>
              </div>
            </div>
          </div>
          <!-- Card 3: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">Logo</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">logo</h6>
              <p class="card-text">This command ____.</p>
              </div>
            </div>
          </div>
          <!-- Card 4: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Text</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">text</h6>
                <p class="card-text">This command ____.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-4">
          <!-- Card 5: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">Networking</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">network</h6>
              <p class="card-text">This command ____.</p>
              </div>
            </div>
          </div>
          <!-- Card 6: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Git Scanning</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">git-scan</h6>
                <p class="card-text">This command ____.</p>
              </div>
            </div>
          </div>
          <!-- Card 7: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">Translate</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">trans</h6>
              <p class="card-text">This command _____.</p>
              </div>
            </div>
          </div>
          <!-- Card 8: -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer: -->
    {{template "footer"}}
  </div>
</body>
</html>
{{end}}
