{{block "tools" .}}
<html>
{{template "head"}}
<body>
  <!-- Navbar: -->
  {{template "navbar" .Navs}}
  <!-- Header and Footer Template: -->
  <div class="card text-center">
    <!-- Header: -->
    <div class="card-header">
      Tools
    </div>
    <!-- Body: -->
    <div class="card-body">
      <div class="container text-center">
        <div class="row row-cols-4">
	  {{ range .Tools }}
          <div class="col" style="padding-top: 1rem;padding-bottom: 2rem;">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">{{.Title}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{.Cmd}}</h6>
              <p class="card-text">{{.Desc}}</p>
              </div>
            </div>
          </div>
	  {{end}}
        </div>
      </div>
    </div>
    <!-- Footer: -->
    {{template "footer"}}
  </div>
</body>
</html>
{{end}}
