{{block "why" .}}
<html>
{{template "head"}}
<body>
  <!-- Navbar: -->
  {{template "navbar" .}}
  <!-- Header and Footer Template: -->
  <div class="card text-center">
    <!-- Header: -->
    <div class="card-header">
      Why
    </div>
    <div class="text-center" style="margin-top: 2%;">
      <img src="assets/roughLogo.png" class="rounded" width="550">
    </div>
    <!-- Body: -->
    <div class="card-body">
      <h5 class="card-title">Why Ice Spice?</h5>
      <p class="card-text">Click the link below to fully understand why.</p>
      <a href="https://youtu.be/dQw4w9WgXcQ&autoplay=1" class="btn btn-primary">Learn More</a>
    </div>    
 
  {{template "footer"}}
 </div>
</body>
</html>
{{end}}
